body {
  margin: 0 auto 0 auto;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 18px;
  line-height: 1.8;
  max-width: 700px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.bordered {
  border-left:  5px solid rgb(245, 245, 245);
  border-right: 5px solid rgb(245, 245, 245);
}
.padded {
  padding-left: 25px;
  padding-right: 25px;
}

h1, h2, h3, h4 {
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  margin: 0;
}
h1 {
  font-family: Raleway;
}
h2 {
  margin-top: 1em;
  text-align: right;
  border-bottom: solid 1px #eee;
}
h3 {
  font-weight: normal;
}

a {
  color: #0645ad;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

.content {
  text-align: justify;
}

.fill {
  margin: 2em -25px 2em -25px;
}

.fill > img {
  width: 100%;
}

.asciicast {
  text-align: center;
}

.footer > div {
  opacity: 0.5;
  font-size: 15px;
  min-height: 10px;
  float: left;
  width: 33%;
  margin-top: 20px;
}
.footer .home {
  text-align: center;
}
.footer .next {
  text-align: right;
}
.overscroll {
  position: absolute;
  height: 50%;
  width: 1px;
}

div.highlight {
  overflow: auto;
  background: rgb(245, 245, 245);
  padding: 25px;
  margin-left: -25px;
  margin-right: -25px;
  line-height: 1em;
}
.highlight code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
}
pre {
  margin: 0;
}
code.highlighter-rouge {
  border-radius: 2px;
  background: rgb(245, 245, 245);
  padding: 5px;
  font-size: 0.8em;
  color: rgba(50, 50, 50);
  position: relative;
  bottom: 1px;
}
